
<h2>Adcionar Produtos</h2>
<form>
  <fieldset>
    <p>Nome:</p> <input type="text" name="nome"[(ngModel)]="mercadoria.produto"><br>
    <p>Quantidade:</p> <input type="text" name="quantidade"[(ngModel)]="mercadoria.quantidade"><br>
    <p>Preco:</p> <input type="text" name="preco"[(ngModel)]="mercadoria.preco"><br><br>
    <button type="button" (click)="cadastrarMercadoria()">Cadastrar</button>
  </fieldset>
</form>
<h2>Produtos Cadastrados</h2>
<hr>
<table>
  <tr>
    <th>#ID</th>
    <th>Produto</th>
    <th>Quantidade</th>
    <th>Preco</th>
    <th>Total</th>
    <th>Ações</th>


  </tr>
  <tr *ngFor='let item of produtos'>
    <td>{{item.id}}</td>
    <td>{{item.produto}}</td>
    <td>{{item.quantidade}}</td>
    <td>R$ {{item.preco}}</td>
    <td>R$ {{item.preco*item.quantidade}}</td>
    <td><button type="button" name="deletarMercadoria" (click)="deletarMercadoria(item.id)">Excluir</button></td>
    <td><button type="button" name="alterarMercadoria" (click)="alterarMercadoria(item.id)">Alterar</button></td>

  </tr>
</table>
