<head>
  <title>TecLoja</title>
</head>
<div class="container">
  <form>
    <!-- <h1 class="logo">TecLoja</h1> -->
    <img src="../../assets/img/logo.png" alt="">
    <div class="campos-login">
      <input placeholder="Login" type="text" name="username" [(ngModel)]="usuario.userName"><br>
      <input placeholder="Senha" type="password" name="senha" [(ngModel)]="usuario.senha"><br>
      <button type="button" name="logar" (click)="fazerLogin()">Entrar</button>
      <a href="#">Esqueci a senha?</a>
    </div>
  </form>
</div>